.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px; }

.container {
  margin-top: 20px;
  margin-bottom: 0px; }

#entrada p {
  text-align: center;
  color: #9290d6; }

.footer-address-icon {
  padding-right: 20px;
  margin-left: 20px; }

.btn-outline-primary {
  margin-top: 20px;
  margin-bottom: 0px; }

.img-fluid {
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  margin-top: 40px;
  margin-bottom: 0px; }

address {
  margin-top: 20px;
  margin-bottom: 0px; }

#Carrusel h1 {
  margin-top: 40px;
  margin-bottom: 0px; }

#accordion {
  padding-top: 10px; }

.btn-outline-info {
  margin-left: 500px;
  margin-top: 0px;
  margin-bottom: 20px; }
