@blue:#9290d6

.margenes ($top, $botton){
	margin-top: $top;
	margin-bottom:$botton;
}

.jumbotron {
	.margenes (50px,0px);
}

.container {
  .margenes (20px,0px);
}

#entrada p {
  text-align: center;
  color: @blue;
}
.footer-address-icon{
	padding-right: 20px;
	margin-left: 20px;

}

.btn-outline-primary {
	.margenes (20px,0px);
}
.img-fluid{
	.margenes (50px,0px);
	}
footer{

	.margenes (40px,0px);
}

address{
	.margenes (20px,0px);

}

#Carrusel h1{
	.margenes (40px,0px);
}

#accordion{
	padding-top: 10px;
}

.btn-outline-info{

	margin-left: 500px;
	.margenes (20px,0px);
}