$blue:#9290d6;

@mixin margenes ($top, $botton){
	margin-top: $top;
	margin-bottom:$botton;
}

.jumbotron {
	@include margenes (50px,0px);
}

.container {
  @include margenes (20px,0px);
}

#entrada p {
  text-align: center;
  color: $blue;
}
.footer-address-icon{
	padding-right: 20px;
	margin-left: 20px;

}

.btn-outline-primary {
	@include margenes (20px,0px);
}
.img-fluid{
	
	@include margenes (50px,0px);
	}
footer{

	@include margenes (40px,0px);
}

address{
	@include margenes (20px,0px);

}

#Carrusel h1{
	@include margenes (40px,0px);
}

#accordion{
	padding-top: 10px;
}

.btn-outline-info{

	margin-left: 500px;
	@include margenes (0px,20px);
}