
.jumbotron {
	margin-top: 50px;
}

.container {
  margin-top: 20px;
}

#entrada p {
  text-align: center;
  color: green;
}
.footer-address-icon{
	padding-right: 20px;
	margin-left: 20px;

}

.btn-outline-primary {
	margin-top: 20px;
}
.img-fluid{
	margin-top: 50px;
	}
footer{

	margin-top: 40px;
}

address{
	margin-top: 20px;

}

#Carrusel h1{
	padding-top: 40px;
}

#accordion{
	padding-top: 10px;
}

.btn-outline-info{

	margin-left: 500px;
	margin-bottom: 20px;
}